body{background-image: url(Pic/mokambo_gang.jpg);background-repeat: no-repeat;background-attachment: fixed;background-position:center;background-size: cover}
.d{background-color:lightgreen; min-height: 90vh;}
h1{text-align: center;}
.ltp{background-color: white;}
.nagy{font-size: 30px;}

