header{width:100%;color:darkgray;background-color:lightgray;}
body{background-image: url(Pic/Follow\ the\ flow.jpg);background-repeat: no-repeat;background-attachment: fixed;background-position:center;background-size: cover;color:mediumblue;text-align: center;}
div{width:33%;background-color: aqua;float:right}